h1 {
    text-align: center;
    color: red;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://i.ibb.co/5YMjyBB/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.light-container {
    border: 2px solid #c02121;
    border-radius: 5px;
    padding: 10px;
    width: 150px; 
    height: 150px; 
    margin: 20px; /* Space between switch containers */
    background-color: rgba(190, 187, 187, 0.75); /* Adjust the alpha value (0.2) for desired transparency */
}
.switch-label {
    margin: 0;
}
.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    border-radius: 17px;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px; /* make it round */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* make it round */
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switch-grid {
    display: flex;

    flex-wrap: wrap; 
    /* max-width: 50%; Limit grid width to at most half of the page */
    /* margin-left: 25%; Space on the left side of the grid */
    /* background-color: grey; */
}

.switch-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
     /* Allow wrapping of switch containers */
    /* width: 100%; /* Ensure switches span the full width of the grid */
    justify-content: center;
}
@media (max-width: 600px) {
    #content {
        max-width: 100%;
        padding: 10px;
    }

    button {
        width: 100%;
    }
}