{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<h1>Classroom</h1>
    
    <div class="switch-grid ">
        <!-- Row 1 -->
        <div class="switch-row">
            <div class="light-container">
                <label class="switch-label">LIGHT 1</label>
                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="v1" onclick="updateData(this, 'v1')">
                        <!-- onclick="getData(this, 'v0')" -->
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="light-container">
                <label class="switch-label">LIGHT 2</label>
                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="v2" onclick="updateData(this, 'v2')">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        <!--</div>
        <div class="switch-row"> -->
            <div class="light-container">
                <label class="switch-label">Fan 1</label>
                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="v3" onclick="updateData(this, 'v3')">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="light-container">
                <label class="switch-label">FAN 2</label>
                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="v4" onclick="updateData(this, 'v5')">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        <!-- </div>
        <div class="switch-row"> -->
            <div class="light-container">
                <label class="switch-label">Lock</label>
                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="v5" onclick="updateData(this, 'v8')">
                        <span class="slider"></span>
                    </label>
                </div>    
            </div>
        </div>
    </div>
    <div class="grid">
    <div class="gauge temperature">
        <div class="needle temperature"></div>
        <div class="dial"></div>
        <div class="label temperature" id="v9">-- °C</div>
    </div>
    <div class="gauge humidity">
        <div class="needle humidity"></div>
        <div class="dial"></div>
        <div class="label humidity" id="v10">-- %</div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}